@{
    ViewBag.Title = "Home Page";
}

@*Displaying the Date *@
<H3>Today is :</H3><p> @DateTime.Now.DayOfWeek.ToString()    @DateTime.Now.ToString()</p>


@**Loop through the names in an unordered list on your page using Razor*@
<h2> List Of Names</h2>
@{ 
    var Names = new List<string> { "Sany", "Ezabil", "Brayen", "sheralle", "Ghone" };
}
<ul>
    @foreach (var name in Names)
    {
        <li> @name</li>
    }
</ul>

<h2> List Of Animals </h2>
@{ 
    var Animals = new List<string> { "Cat", "Dog", "Bird", "Cow" };
}
    <ul>
        @foreach( var animal in Animals)
        {
            <li> @animal </li>
        }
    </ul>

@**Use a multi-line razor statement to make two variables
    (string UserName and string Greeting) and set the values to whatever you want.*@

@{ 
    var UserName = " Sany Yousif";
    var Greating = " Hello Hello ";
 }

<h2>  @UserName Say to everyone @Greating </h2>

@**Use an if statement to print "TGIF" on the page if it's Friday*@

@{ 
    var FridayMSG = "TGIF";
    var NotFridayMSG = " NO TIGF";
}
@if (@DateTime.Now.DayOfWeek.ToString() == "Friday" )
{
    <h2>  @FridayMSG </h2>
}

else
{
    <h3> @NotFridayMSG</h3>
}




